#reader-mode-btn {
    position: fixed;
    width: 120px;
    left: 90%;
    bottom: 20px;
}

div.progress {
    visibility: hidden;
    position: fixed;
    width: 83%;
    left: 5%;
    bottom: 0px;
}
