/* Display star ratings */
.star-ratings h1 {
    font-size: 1.5em;
    line-height: 2;
    margin-top: 3em;
    color: #757575;
}
.star-ratings p {
    margin-bottom: 3em;
    line-height: 1.2;
}
.star-ratings h1,
.star-ratings p {
    text-align: center;
}
.star-ratings .stars {
    width: 120px;
    text-align: center;
    margin: auto;
    padding: 0 95px;
}
.star-ratings .stars .title {
    font-size: 14px;
    color: #cccccc;
    line-height: 3;
}
.star-ratings .stars select {
    width: 120px;
    font-size: 16px;
}
.star-ratings .stars-example-fontawesome,
.star-ratings .stars-example-css,
.star-ratings .stars-example-bootstrap {
    float: left;
}
.star-ratings .stars-example-fontawesome-o {
    width: 200px;
}
.star-ratings .stars-example-fontawesome-o select {
    width: 200px;
}
.start-ratings-main {
    margin-bottom: 3em;
}

.prog{
    margin-left: 10px;
    margin-right: 10px;
}

.progress{
    height: 11px;
    margin-top: 10px;
}