<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<!DOCTYPE html>
<html>
<head>
    <title>Create fanfic</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <meta name="format-detection" content="telephone=no">

    <link href="http://fonts.googleapis.com/css?family=Roboto:400,300,700,900|Roboto+Condensed:400,300,700"
          rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="resources/css/demo.css">
    <link rel="stylesheet" href="resources/css/dropify.min.css">
    <link href="/css/style.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>

    <link type="text/css" rel="stylesheet" media="all" href='' id="theme_css"/>
</head>

<body>
<div th:replace="fragments/header :: header">&nbsp;</div>

<div class="container">
    <div class="row">
        <div style="width: 60%; margin: 35px auto;">
            <h2 th:text="#{label.addFanfic}"></h2>
            <hr>
            <form th:action="@{/addFanfic}" th:object="${fanficForm}" enctype="multipart/form-data"
                  method="post">

                <div class="form-group">
                    <label for="fanficName"><h4 th:text="#{label.title}"></h4></label>
                    <input style="height: 35px" type="text" th:field="*{fanficName}" class="form-control"
                           id="fanficName"
                           th:placeholder="#{label.title}"/>
                </div>

                <div class="form-group">
                    <label for="fanficGenre"><h4 th:text="#{label.genre}"></h4></label>

                    <select th:field="*{genreId}" class="form-control" id="fanficGenre">
                        <option th:utext="Аниме" th:value="1"></option>
                        <option th:utext="Фэнтези" th:value="2"></option>
                        <option th:utext="Боевик" th:value="3"></option>
                        <option th:utext="Комедия" th:value="4"></option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="input-file-now"><h4 th:text="#{label.image}"></h4></label>
                    <input type="file" name="files" id="input-file-now" class="dropify"/>
                    <br/>
                </div>

                <div class="form-group">
                    <label for="description"><h4 th:text="#{label.description}"></h4></label>
                    <textarea class="form-control" th:field="*{description}" rows="5" id="description"></textarea>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-lg btn-primary btn-block" id="js-upload-submit"
                            th:text="#{label.addFanfic}">
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>

<script src="/js/change-theme.js"></script>
<script src="resources/js/dropify.min.js"></script>
<script>
    $(document).ready(function () {
        // Basic
        $('.dropify').dropify();
        // Translated
        $('.dropify-fr').dropify({
            messages: {
                default: 'Glissez-déposez un fichier ici ou cliquez',
                replace: 'Glissez-déposez un fichier ou cliquez pour remplacer',
                remove: 'Supprimer',
                error: 'Désolé, le fichier trop volumineux'
            }
        });
        // Used events
        var drEvent = $('#input-file-events').dropify();
        drEvent.on('dropify.beforeClear', function (event, element) {
            return confirm("Do you really want to delete \"" + element.file.name + "\" ?");
        });
        drEvent.on('dropify.afterClear', function (event, element) {
            alert('File deleted');
        });
        drEvent.on('dropify.errors', function (event, element) {
            console.log('Has Errors');
        });
        var drDestroy = $('#input-file-to-destroy').dropify();
        drDestroy = drDestroy.data('dropify')
        $('#toggleDropify').on('click', function (e) {
            e.preventDefault();
            if (drDestroy.isDropified()) {
                drDestroy.destroy();
            } else {
                drDestroy.init();
            }
        })
    });
</script>

</body>
</html>