<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title th:title="#{button.edit}"></title>

    <link rel="stylesheet" type="text/css"
          href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,300,700,900|Roboto+Condensed:400,300,700"
          rel="stylesheet" type="text/css">

    <link href="/css/demo.css" rel="stylesheet">
    <link href="/css/dropify.min.css" rel="stylesheet">
    <link href="/css/jquery.tagit.css" rel="stylesheet" type="text/css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"
            charset="utf-8"></script>

    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" type="text/javascript"
            charset="utf-8"></script>

    <script type="text/javascript" src="/js/bootstrap-multiselect.js"></script>
    <link rel="stylesheet" href="/css/bootstrap-multiselect.css" type="text/css"/>

    <link type="text/css" rel="stylesheet" media="all" href='' id="theme_css"/>
</head>

<body>
<div th:replace="fragments/header :: header">&nbsp;</div>

<div class="container">
    <form th:action="@{'/fanfics/' + ${currentFanfic.id}}" th:object="${currentFanfic}" name="form" method="POST"
          enctype="multipart/form-data">
        <div class="row">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <input id="fanficname" name="textinput" th:placeholder="#{button.username}"
                           class="form-control input-md" th:field="*{fanficName}" value=""
                           th:attr="value=${currentFanfic.fanficName}"
                           required="" type="text"/>
                    <p><span class="error" th:if="${#fields.hasErrors('fanficName')}" th:errors="*{fanficName}"></span>
                </div>
                <div class="panel-body">
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="form-group">
                                    <input type="file" name="files" id="input-file-now"
                                           th:attr="data-default-file=${currentFanfic.image}" class="dropify"/>
                                    <br/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h4 th:text="#{label.genre} + '&#58 '"></h4>
                                <p><span class="error" th:if="${#fields.hasErrors('genres')}" th:errors="*{genres}"></span></p>
                                <select class="form-control" name="selectedGenres" id="example-getting-started"
                                        multiple="multiple">
                                    <option th:selected="${currentFanfic.genres.contains(genre)}"
                                            th:each="genre : ${allGenres}" th:utext="${genre.genreName}"
                                            th:value="${genre.id}">
                                    </option>

                                </select>
                                <hr>
                                <h4 th:text="#{label.description} + '&#58'"></h4>

                                <textarea th:text="${currentFanfic.description}" th:field="*{description}"
                                          style="resize: none"
                                          class="form-control" rows="5"
                                          id="description"></textarea>
                            </div>
                        </div>
                        <p>
                            <input type="submit" class="btn btn-primary"
                                   onclick="document.forms['form'].submit();" th:value="#{button.save}">
                            </input>
                            <a style="color: white" th:href="'/fanfics/' + ${currentFanfic.id} + '/read'"
                               class="btn btn-primary"
                               th:text="#{button.cancel}"></a>
                            <a style="margin-left: 30px;" th:href="'/fanfics/' + ${currentFanfic.id} + '/page_edit/delete'"
                               class="btn btn-primary"
                               th:text="#{button.delete}"></a>
                        </p>

                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="fanficContent">
                        <h2 th:text="#{label.content} +'&#58'"></h2>
                        <ul th:each="chapter,iter : ${currentFanfic.chapters}">
                            <a href="#">
                                <li th:text="#{label.chapter} + ' ' + ${iter.index+1} + ' - ' + ${chapter.chapterName}"></li>
                            </a>
                        </ul>
                    </div>

                    <p>
                        <a style="color: white" th:href="'/createChapter/'+ ${currentFanfic.id}" class="btn btn-primary"
                           th:text="#{label.addChapter}"></a>
                    </p>
                </div>
            </div>

            <div class="col-md-12">
                <div class="panel-group" id="accordion">

                    <div th:each="chapter, iter : ${currentFanfic.chapters}" class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion"
                                   th:text="#{label.chapter} + ' ' + ${iter.index+1} + ' - ' + ${chapter.chapterName}"
                                   th:href="'#collapse' + ${chapter.id}"></a>
                            </h4>
                        </div>
                        <div th:id="'collapse' + ${chapter.id}" class="panel-collapse collapse">
                            <input type="hidden" th:id="'hiddenFieldText'+${chapter.id}" value=""
                                   th:attr="value=${chapter.text}">
                            <div class="fanficText" th:id="'text' + ${chapter.id}" style="padding: 15px;">

                            </div>

                            <script type="text/javascript" th:inline="javascript">
                                var id = [[${chapter.id}]]
                                var html = document.getElementById("hiddenFieldText" + id).value;
                                $('#text' + id).html(html);
                            </script>
                        </div>

                            <p style="margin-left: 20px; margin-top: 10px;">
                                <a style="color: white" th:href="'/fanfics/' + ${currentFanfic.id} + '/chapters/' + ${chapter.id} + '/edit'"
                                   class="btn btn-primary btn-sm" th:text="#{button.editChapter}"></a>
                                <a style="color: white" th:href="'/fanfics/' + ${currentFanfic.id} + '/chapters/' + ${chapter.id} + '/delete'"
                                   class="btn btn-primary btn-sm" th:text="#{button.delete}"></a>
                            </p>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">

                    <div class="form-group">
                        <label for="singleFieldTags2"><h4 th:text="#{label.tags}"></h4></label>
                        <form>
                            <input name="stringtags" value="" th:attr="value=${currentFanfic.tegsAsSting}"
                                   id="singleFieldTags2"/>
                        </form>
                    </div>


                </div>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-primary"
                   onclick="document.forms['form'].submit();" th:value="#{button.save}">
            </input>
            <a style="color: white" th:href="'/fanfics/' + ${currentFanfic.id} + '/read'"
               class="btn btn-primary"
               th:text="#{button.cancel}"></a>
            <a style="margin-left: 30px;" th:href="'/fanfics/' + ${currentFanfic.id} + '/page_edit/delete'"
               class="btn btn-primary"
               th:text="#{button.delete}"></a>
        </div>

    </form>

</div>

<div style="padding-bottom: 120px;" class="container">

</div>

<script type="text/javascript" th:inline="javascript">
    $(function () {
        var sampleTags = [[${allTags}]];

        $('#myTags').tagit();

        $('#singleFieldTags2').tagit({
            availableTags: sampleTags
        });

    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#example-getting-started').multiselect({
            nonSelectedText: 'Не выбрано',
            allSelectedText: 'Выбрано все'
        });
    });

    $(document).ready(function () {
        // Basic
        $('.dropify').dropify();
        // Translated
        $('.dropify-fr').dropify({
            messages: {
                default: 'Glissez-déposez un fichier ici ou cliquez',
                replace: 'Glissez-déposez un fichier ou cliquez pour remplacer',
                remove: 'Supprimer',
                error: 'Désolé, le fichier trop volumineux'
            }
        });
        // Used events
        var drEvent = $('#input-file-events').dropify();
        drEvent.on('dropify.beforeClear', function (event, element) {
            return confirm("Do you really want to delete \"" + element.file.name + "\" ?");
        });
        drEvent.on('dropify.afterClear', function (event, element) {
            alert('File deleted');
        });
        drEvent.on('dropify.errors', function (event, element) {
            console.log('Has Errors');
        });
        var drDestroy = $('#input-file-to-destroy').dropify();
        drDestroy = drDestroy.data('dropify')
        $('#toggleDropify').on('click', function (e) {
            e.preventDefault();
            if (drDestroy.isDropified()) {
                drDestroy.destroy();
            } else {
                drDestroy.init();
            }
        })
    });
</script>

<script src="/js/tag-it.js"></script>
<script src="/js/dropify.min.js"></script>
<script src="/js/change-theme.js"></script>

</body>
</html>