<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:title="#{button.search}"></title>

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>


    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js"></script>
    <script type="text/javascript"
            src="http://demos.creative-tim.com/fresh-bootstrap-table/assets/js/bootstrap-table.js"></script>

    <link rel="stylesheet"
          href="http://demos.creative-tim.com/fresh-bootstrap-table/assets/css/fresh-bootstrap-table.css"
          type="text/css"/>


    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/css/profile.css" rel="stylesheet">

    <link type="text/css" rel="stylesheet" media="all" href='' id="theme_css"/>
</head>
<body class="gray-bg">
<div th:replace="fragments/header :: header">&nbsp;</div>

<div class="container">
    <div class="row">

        <div class="col-md-12" id="userfanfics">

            <div class="fresh-table">

                <div class="toolbar">
                    <a sec:authorize="hasRole('ADMIN')" href="/fanfics/create" id="alertBtn" class="btn btn-default" th:text="#{label.addFanfic}"></a>
                </div>


                <table id="fresh-table" class="table">
                    <thead>
                    <th data-field="id">ID</th>
                    <th data-field="name" data-sortable="true" th:text="#{label.firstname}"></th>
                    <th data-field="chaptersCount" data-sortable="true" th:text="#{label.chaptersCount}"></th>
                    <th data-field="createDate" data-sortable="true" th:text="#{label.creationDate}"></th>
                    <th data-field="author" data-sortable="true" th:text="#{title.author}"></th>

                    <th data-field="actions" data-formatter="operateFormatter" sec:authorize="hasRole('ADMIN')"
                        data-events="operateEvents" th:text="#{label.actions}">
                    </th>
                    </thead>
                    <tbody id="trable">


                    <tr th:each="fanfic : ${fanficsList}">
                        <td th:text="${fanfic.id}"></td>
                        <td><a th:text="${fanfic.fanficName}" th:href="'/fanfics/' + ${fanfic.id} + '/read'"></a></td>
                        <td th:text="${fanfic.chapters.size()}"></td>
                        <td th:text="${fanfic.dateAsString}"></td>
                        <td ><a th:text="${fanfic.creator.username}" th:href="${'/profile/' + fanfic.creator.id}"></a></td>
                    </tr>

                    </tbody>
                </table>
            </div>

            <script>
                var $table = $('#fresh-table')
                $alertBtn = $('#alertBtn'),
                    full_screen = false;

                $().ready(function () {


                    $table.bootstrapTable({
                        toolbar: ".toolbar",

                        search: true,
                        showToggle: true,
                        showColumns: true,
                        pagination: true,
                        striped: true,
                        pageSize: 10,
                        pageList: [10, 25, 50, 100],

                        formatShowingRows: function (pageFrom, pageTo, totalRows) {
                            //do nothing here, we don't want to show the text "showing x of y from..."
                        },
                        formatRecordsPerPage: function (pageNumber) {
                            return pageNumber + " rows visible";
                        },

                        icons: {
                            toggle: 'fa fa-th-list',
                            columns: 'fa fa-columns',
                            detailOpen: 'fa fa-plus-circle',
                            detailClose: 'fa fa-minus-circle'
                        }


                    });


                    $(window).resize(function () {
                        $table.bootstrapTable('resetView');
                    });


                    window.operateEvents = {
                        'click .edit': function (e, value, row, index) {

                        },
                        'click .remove': function (e, value, row, index) {

                        }
                    }

                    window.operateEvents['click .edit'] = (function (e, value, row, index) {
                        alert('You click edit icon, row: ' + JSON.stringify(row));
                    });
                });


                function ajax_delete(id) {
                    $.ajax({

                        type: 'POST',
                        url: '/fanfics/' + id + '/page_profile/delete',
                        success: function (data) {
                            $("#trable").html(data);
                        }

                    });
                }

                function operateFormatter(value, row, index) {
                    return [
                        '<a rel="tooltip" title="Edit" class="table-action edit" href="/fanfics/', row.id, '/edit" title="Edit">',
                        '<i class="fa fa-edit"></i>',
                        '</a>',
                        '<a rel="tooltip" title="Remove" class="table-action remove" href="javascript:ajax_delete(', row.id, ')" title="Remove">',
                        '<i class="fa fa-remove"></i>',
                    ].join('');
                }

                $(document).ready(function () {
                    // Basic
                    $('.dropify').dropify();
                    // Translated
                    $('.dropify-fr').dropify({
                        messages: {
                            default: 'Glissez-déposez un fichier ici ou cliquez',
                            replace: 'Glissez-déposez un fichier ou cliquez pour remplacer',
                            remove: 'Supprimer',
                            error: 'Désolé, le fichier trop volumineux'
                        }
                    });
                    // Used events
                    var drEvent = $('#input-file-events').dropify();
                    drEvent.on('dropify.beforeClear', function (event, element) {
                        return confirm("Do you really want to delete \"" + element.file.name + "\" ?");
                    });
                    drEvent.on('dropify.afterClear', function (event, element) {
                        alert('File deleted');
                    });
                    drEvent.on('dropify.errors', function (event, element) {
                        console.log('Has Errors');
                    });
                    var drDestroy = $('#input-file-to-destroy').dropify();
                    drDestroy = drDestroy.data('dropify')
                    $('#toggleDropify').on('click', function (e) {
                        e.preventDefault();
                        if (drDestroy.isDropified()) {
                            drDestroy.destroy();
                        } else {
                            drDestroy.init();
                        }
                    })
                });

                (function ($) {
                    var truncate = function (el) {
                        var text = el.text(),
                            height = el.height(),
                            clone = el.clone();

                        clone.css({
                            position: 'absolute',
                            visibility: 'hidden',
                            height: 'auto'
                        });
                        el.after(clone);

                        var l = text.length - 1;
                        for (; l >= 0 && clone.height() > height; --l) {
                            clone.text(text.substring(0, l) + '...');
                        }

                        el.text(clone.text());
                        clone.remove();
                    };

                    $.fn.truncateText = function () {
                        return this.each(function () {
                            truncate($(this));
                        });
                    };
                }(jQuery));
            </script>
        </div>

    </div>
</div>

<script src="/js/dropify.min.js"></script>
<script src="/js/change-theme.js"></script>

</body>
</html>